/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {

text-align: center;
background: #cc99ff;
font-family: Helvetica;
  margin: 0;
  padding: 5;

}

.RecipeCard1 {
  display: inline-block;
  background: linear-gradient(135deg, purple, violet 60%, white);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 100px;
  padding: 1em;
  text-align: center;
  width: 300px;
}


.RecipeCard2 {
  display: inline-block;
  background: linear-gradient(135deg, aqua, yellow 60%, yellow);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 100px;
  padding: 1em;
  text-align: center;
  width: 300px;
}


.RecipeCard3 {
  display: inline-block;
  background: linear-gradient(135deg, lavender, pink 60%, magenta);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 100px;
  padding: 1em;
  text-align: center;
  width: 300px;
}


.card--picture {
  border-radius: 55%;
  box-shadow: 0 -10px 20px rgba(0,0,0,0.2);
}
